<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Coffre</span>
    <span *ngIf="safeControlService.state === 'Connected'"
          class="toolbar-dropzone"
          coffreDropFile
          [directoryUid]="filesService.rootDirectory?.uid"
          (filesDropped)="onDrop($event)">
      <coffre-upload-states></coffre-upload-states>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="safeControlService.state === 'Authenticating'
         || safeControlService.state === 'Creating'
         || safeControlService.state === 'Connecting'
         || safeControlService.state === 'WaitingAuth'
         || safeControlService.state === 'Disconnected'">
  <mat-card>
    <mat-card-title *ngIf="safeControlService.state === 'Disconnected'">Authentification</mat-card-title>
    <mat-card-title *ngIf="safeControlService.state === 'Creating'">Creating safe</mat-card-title>
    <mat-card-title *ngIf="safeControlService.state === 'Authenticating'">Checking credentials</mat-card-title>
    <mat-card-title *ngIf="safeControlService.state === 'Connecting'">Connecting</mat-card-title>
    <mat-card-content *ngIf="safeControlService.state === 'Authenticating'
                          || safeControlService.state === 'Creating'
                          || safeControlService.state === 'Connecting'" class="loading">
      <mat-spinner></mat-spinner>
    </mat-card-content>
    <mat-card-content *ngIf="safeControlService.state == 'Disconnected'">
      <mat-form-field>
        <input matInput placeholder="Login" [(ngModel)]="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" [(ngModel)]="passphrase" placeholder="Password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="safeControlService.state == 'Disconnected'">
      <button color="primary" mat-button (click)="create()">CREATE</button>
      <button color="primary" mat-button (click)="authenticate()">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="safeControlService.state === 'Connected'" class="view-directory">
  <mat-card class="file-list">
    <mat-card-title>{{directoryData?.name}}</mat-card-title>
    <mat-card-content *ngIf="filesService.rootDirectory">
      <coffre-file-list [directoryData]="filesService.rootDirectory"></coffre-file-list>
    </mat-card-content>
  </mat-card>

  <div *ngIf="filesService.loadingDirectory">
    <mat-spinner></mat-spinner>
  </div>

  <mat-card class="drop_zone"
            coffreDropFile
            [directoryUid]="filesService.rootDirectory?.uid"
            (filesDropped)="onDrop($event)">
    <mat-icon>file_upload</mat-icon>
    Add file(s)
  </mat-card>
</div>
