div {
  display: flex;
  align-items: center;
  justify-content: center;
  mat-card {
    margin: 16px;
    mat-card-content {
      display: flex;
      flex-direction: column;
    }
    .loading {
      align-items: center;
      mat-form-field {
        flex: 1 auto;
      }
    }

    width: 400px;
  }
}

.dragover {
  background-color: lightblue;
}
.toolbar-dropzone {
  display: flex;
  align-items: center;
  height: 100%;
}

.view-directory {
  display: flex;
  flex-direction: column;
  width: 100%;
  .file-list {
    width: 100%;
  }
  .drop_zone {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
