<mat-table [dataSource]=directoryData.files>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
    <mat-cell *matCellDef="let file">
      <button mat-icon-button (click)="downloadFile(file)">
        <mat-icon>file_download</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteFile(file)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
    <mat-cell *matCellDef="let file">
      <mat-icon *ngIf="file.getType() == 'file'">description</mat-icon>
      <mat-icon *ngIf="file.getType() == 'directory'">folder</mat-icon>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let file"> {{file.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="length">
    <mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
    <mat-cell *matCellDef="let file"> {{file.length | coffreFileSize}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let file"> {{file.date * 1000 | date}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</mat-table>

