<span class="progress-widget">
  <button mat-icon-button (click)="openUploadStateDialog()">
    <mat-icon>file_upload</mat-icon>
  </button>
  <span>
    <mat-progress-spinner [diameter]=32
                          color="accent"
                          [mode]="'determinate'"
                          [value]="uploadFileService.currentFileState?.percentage"></mat-progress-spinner>
  </span>
  <span>
    {{uploadFileService.fileStates.length}}
    <span *ngIf="uploadFileService.currentFileState?.state === 'UPLOADING'">
      <span *ngIf="uploadFileService.speed < 1024">{{uploadFileService.speed / 1024 | number:'1.3-3'}} KB/s</span>
      <span *ngIf="uploadFileService.speed >= 1024">{{uploadFileService.speed / (1024 * 1024) | number:'1.3-3'}} MB/s</span>
    </span>

  </span>
</span>

<ng-template cdk-portal #uploadStatesDialog="cdkPortal">
  <mat-card>
    <mat-card-title>Upload</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let fileState of uploadFileService.fileStates">
        <span class="percentage">
          <mat-progress-spinner *ngIf="fileState.state === 'FINISHING' || fileState.state === 'PREPARING'"
                                [diameter]=32></mat-progress-spinner>
          <mat-progress-spinner *ngIf="fileState.state === 'UPLOADING'"
                                [diameter]=32
                                [mode]="'determinate'"
                                [value]="fileState.percentage"></mat-progress-spinner>
          <mat-icon *ngIf="fileState.state === 'PENDING'">cloud_circle</mat-icon>
          <mat-icon *ngIf="fileState.state === 'DONE'">cloud_done</mat-icon>
          <mat-icon *ngIf="fileState.state === 'ERROR'">error</mat-icon>
          <mat-icon *ngIf="fileState.state === 'CANCELED'">cancel</mat-icon>
        </span>
        <span>
          {{fileState.name}}
        </span>
        <span>
          <button mat-icon-button
                  *ngIf="fileState.state !== 'CANCELED' && fileState.state !== 'DONE' && fileState.state !== 'ERROR'"
                  (click)="uploadFileService.cancelUpload(fileState)">
            <mat-icon>cancel</mat-icon>
          </button>
        </span>

      </mat-list-item>
    </mat-list>
    <mat-card-content>
      <mat-card class="drop_zone"
                coffreDropFile
                [directoryUid]="filesService.rootDirectory?.uid"
                (filesDropped)="onDrop($event)">
        <mat-icon>file_upload</mat-icon>
        Add file(s)
      </mat-card>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-button (click)="closeUploadStateDialog()" color="primary">CLOSE</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
