.progress-widget {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dragover {
  background-color: lightblue;
}

.drop_zone {
  display: flex;
  align-items: center;
  justify-content: center;
}
